body {
        background:#fff;
        color:#4a4a4a;
}

.rg-grid {
   display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 10px;        
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: center; 
}

.rg-grid-item {    
    background-color: #f1f1f1;
    grid-column: 1;    
    border:1px solid #dcdcdc;
}

.rg-areaheader {
    background-color: #fafafa;
    padding:15px 0px 10px 0;
}
.rg-areaheader .rg-svglogo {
    width:8rem;
}
.rg-areasearch {    
    margin-top:40px;
}
.rg-areasearch .rg-input-search {
    width:60%;
    margin:0 auto;
}
/**
*   Results of search 
*/
.rg-arearesults {
    margin-top:40px;        
}
.rg-arearesults .rg-results  {
    width:40%;
    height:250px;
    overflow: auto;
    margin: 0 auto;
    border:1px solid #999;
    /* display:none; */
    visibility: hidden;
}
.rg-show-boxresults {
    /* display:block; */
    visibility: visible !important;
}

/**
* Responsive design
*/
@media (max-width:600px){
        .rg-areaheader .rg-svglogo {
            width:6rem;
        }
        .rg-areasearch .rg-input-search {
            width:80%;            
        }
}